# Dependency packages #
#############
node_modules
package-lock.json

# IDE files #
#############
.~lock.*
.buildpath

# Netbeans
nbproject
nbactions.xml
nb-configuration.xml

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
.vscode/
.factorypath
*.iml
*.iws